#set($title = '首页')
<style type="text/css">
td{
 width:100px;
 text-align:center
}
</style>
<table>
	<tr>
		<td>作者</td>
		<td>书名</td>
		<td>价格</td>
		<td>出版时间</td>
		<td>类型</td>
	</tr>
#foreach($data in $!{pager.resultMap})


	<tr>
		<td>$!{data.AUTHOR}</td>
		<td>$!{data.NAME}</td>
		<td>$!number.format('0.00',$!{data.PRICE})</td>
		<td>$!date.format('yyyy-MM-dd',$!{data.PUBLISHDATE})</td>
		<td>$!{data.TYPE}</td>
	</tr>

#end
	<tr>
		<td>总页数:$!{pager.total_page}</td>
		<td>第$!{pager.cur_page}页</td>
		<td>总条数：$!{pager.result_count}</td>
		<td onclick="window.location.href='queryAll?cur_page=$!{pager.first_page}'">首页</td>
		#if($!{pager.hasPre})
		<td onclick="window.location.href='queryAll?cur_page=$!{pager.pre_page}'">上一页</td>
		#end
		#foreach($bean in $!{pager.getPages()})
		  #if($!{pager.cur_page} == $!{bean})
		  <td onclick="window.location.href='queryAll?cur_page=$!{bean}'" style="color:red">$!{bean}</td>
		  #else
		  <td onclick="window.location.href='queryAll?cur_page=$!{bean}'">$!{bean}</td>
		  #end
		
		#end
		#if($!{pager.hasNext})
		<td onclick="window.location.href='queryAll?cur_page=$!{pager.next_page}'">下一页</td>
		#end
		<td onclick="window.location.href='queryAll?cur_page=$!{pager.last_page}'">末页</td>
	</tr>
</table>
