<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.mapper.BookMapper">

  <sql id="Base_Column_List">
    ID, NAME, AUTHOR, PRICE, PUBLISHDATE, TYPE, ADDRESS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultType="java.util.HashMap">
    select 
    <include refid="Base_Column_List" />
    from TEST_BOOK
    where ID = #{ID,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="INTEGER">
    delete from TEST_BOOK
    where ID = #{ID}
  </delete>
  <insert id="insert" parameterType="com.my.bean.Book">
    insert into TEST_BOOK (ID, NAME, AUTHOR, 
      PRICE, PUBLISHDATE, TYPE, 
      ADDRESS)
    values (#{ID,jdbcType=DECIMAL}, #{NAME,jdbcType=VARCHAR}, #{AUTHOR,jdbcType=VARCHAR}, 
      #{PRICE,jdbcType=DECIMAL}, #{PUBLISHDATE,jdbcType=TIMESTAMP}, #{TYPE,jdbcType=DECIMAL}, 
      #{ADDRESS,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.my.bean.Book">
    insert into TEST_BOOK
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="NAME != null">
        NAME,
      </if>
      <if test="AUTHOR != null">
        AUTHOR,
      </if>
      <if test="PRICE != null">
        PRICE,
      </if>
      <if test="PUBLISHDATE != null">
        PUBLISHDATE,
      </if>
      <if test="TYPE != null">
        TYPE,
      </if>
      <if test="ADDRESS != null">
        ADDRESS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID},
      </if>
      <if test="NAME != null">
        #{NAME},
      </if>
      <if test="AUTHOR != null">
        #{AUTHOR},
      </if>
      <if test="PRICE != null">
        #{PRICE},
      </if>
      <if test="PUBLISHDATE != null">
        to_date(#{PUBLISHDATE},'yyyy-mm-dd'),
      </if>
      <if test="TYPE != null">
        #{TYPE},
      </if>
      <if test="ADDRESS != null">
        #{ADDRESS},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.bean.Book">
    update TEST_BOOK
    <set>
      <if test="NAME != null">
        NAME = #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="AUTHOR != null">
        AUTHOR = #{AUTHOR,jdbcType=VARCHAR},
      </if>
      <if test="PRICE != null">
        PRICE = #{PRICE},
      </if>
      <if test="PUBLISHDATE != null">
        PUBLISHDATE = to_date(#{PUBLISHDATE},'yyyy-mm-dd'),
      </if>
      <if test="TYPE != null and TYPE!=''">
        TYPE = #{TYPE},
      </if>
      <if test="ADDRESS != null">
        ADDRESS = #{ADDRESS,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{ID}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my.bean.Book">
    update TEST_BOOK
    set NAME = #{NAME,jdbcType=VARCHAR},
      AUTHOR = #{AUTHOR,jdbcType=VARCHAR},
      PRICE = #{PRICE,jdbcType=DECIMAL},
      PUBLISHDATE = #{PUBLISHDATE,jdbcType=TIMESTAMP},
      TYPE = #{TYPE,jdbcType=DECIMAL},
      ADDRESS = #{ADDRESS,jdbcType=VARCHAR}
    where ID = #{ID,jdbcType=DECIMAL}
  </update>
  <select id="queryAll" resultType="java.util.HashMap" parameterType="java.util.HashMap">
  	select t.id,t.name,t.author,t.price,to_char(t.publishdate,'yyyy-mm-dd') publishdate,t.address,rownum rn,(select type_name 
  	from test_booktype where t.type = type_id) type_name from test_book t order by #{orderbysort}
  </select>
    <select id="queryAll_count" resultType="int" parameterType="java.util.HashMap">
  	select count(*) from (select t.*,rownum rn from test_book t)
  </select>
  <select id="queryType" resultType="java.util.HashMap">
  	select type_id type,type_name from test_booktype order by type_id
  </select>
  
  <select id="queryCountry" resultType="java.util.HashMap">
  	 select * from tab_country where 1=1
  	 <if test="country_no != null">
  	 		and country_no = #{country_no}
  	 	</if>
  	 order by country_name
  </select>
  <select id="queryCity" resultType="java.util.HashMap">
  	 select * from tab_city where 1=1
  	 
  	 	<if test="country_no != null">
  	 		and country_no = #{country_no}
  	 	</if>
  	 	<if test="city_no != null">
  	 		and city_no = #{city_no}
  	 	</if>
  	
  	 order by city_name
  </select>
  <select id="queryArea" resultType="java.util.HashMap">
  	 select * from tab_area where 1=1

  	 	<if test="city_no != null">
  	 		and city_no = #{city_no}
  	 	</if>
  	 	<if test="area_no != null">
  	 		and area_no = #{area_no}
  	 	</if>

  	  order by area_name
  </select>
  <select id="getNextSeq" resultType="int">
  	select test_book_seq.nextval from dual
  </select>
</mapper>